.App {
  text-align: center;
}

.Load {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Load {
    animation: Load-spin infinite 10s linear;
  }
}

.App-header {
  background-color: navy;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes Load-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

p {
  color:lightgray;
  font-size:1.5em;
  font-weight:bold;
}